@import "tailwindcss";

*{
 font-family: 'Helvetica Neue Regular';
}

.active hr{
    @apply block;
}

@media (max-width: 740px){
  .active {
    @apply bg-black text-white rounded-md px-2 py-2 font-semibold
  }
}

::-webkit-scrollbar{
    width: 12px;
 
  }
  
  .scrollbar-hidden::-webkit-scrollbar-track{
     width: 14px;
     background: black;
  }
  ::-webkit-scrollbar-thumb{
    background: #52525b;
    border-radius: 4px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  

  .scrollbar-hidden {
    scrollbar-width: none;
  }